## 1. Imports
All imports grouped together for cleanliness.

In [2]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

## 2. Load Datasets

In [3]:
df = pd.read_json(r"C:\Users\HP5CD\Desktop\Loan Default Risk Prediction\training\loan_approval_dataset.json")
df.shape

(252000, 13)

## 3. Basic EDA

In [ ]:
# top 5 rows
df.head()

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1

In [ ]:
df['STATE'].unique()

array(['Madhya_Pradesh', 'Maharashtra', 'Kerala', 'Odisha', 'Tamil_Nadu',
       'Gujarat', 'Rajasthan', 'Telangana', 'Bihar', 'Andhra_Pradesh',
       'West_Bengal', 'Haryana', 'Puducherry', 'Karnataka',
       'Uttar_Pradesh', 'Himachal_Pradesh', 'Punjab', 'Tripura',
       'Uttarakhand', 'Jharkhand', 'Mizoram', 'Assam',
       'Jammu_and_Kashmir', 'Delhi', 'Chhattisgarh', 'Chandigarh',
       'Uttar_Pradesh[5]', 'Manipur', 'Sikkim'], dtype=object)

In [ ]:
df['STATE'] = (
    df['STATE']
    .str.replace('_', ' ', regex=False)
    .str.replace(r'\[.*\]', '', regex=True)
)

In [ ]:
df['Profession'] = (
    df['Profession']
    .str.replace('_', ' ', regex=False)
    .str.replace(r'\[.*\]', '', regex=True)
)

In [ ]:
# columns
df.columns

Index(['Id', 'Income', 'Age', 'Experience', 'Married/Single',
       'House_Ownership', 'Car_Ownership', 'Profession', 'CITY', 'STATE',
       'CURRENT_JOB_YRS', 'CURRENT_HOUSE_YRS', 'Risk_Flag'],
      dtype='object')

In [ ]:
# data information
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 252000 entries, 0 to 251999
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Id                 252000 non-null  int64
 1   Income             252000 non-null  int64
 2   Age                252000 non-null  int64
 3   Experience         252000 non-null  int64
 4   Married/Single     252000 non-null  object
 5   House_Ownership    252000 non-null  object
 6   Car_Ownership      252000 non-null  object
 7   Profession         252000 non-null  object
 8   CITY               252000 non-null  object
 9   STATE              252000 non-null  object
 10  CURRENT_JOB_YRS    252000 non-null  int64
 11  CURRENT_HOUSE_YRS  252000 non-null  int64
 12  Risk_Flag          252000 non-null  int64
dtypes: int64(7), object(6)
memory usage: 26.9+ MB

In [ ]:
# stats
df.describe()

,Id,Income,Age,Experience,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
count,252000.000000,2.520000e+05,252000.000000,252000.000000,252000.000000,252000.000000,252000.000000
mean,126000.500000,4.997117e+06,49.954071,10.084437,6.333877,11.997794,0.123000
std,72746.278255,2.878311e+06,17.063855,6.002590,3.647053,1.399037,0.328438
min,1.000000,1.031000e+04,21.000000,0.000000,0.000000,10.000000,0.000000
25%,63000.750000,2.503015e+06,35.000000,5.000000,3.000000,11.000000,0.000000
50%,126000.500000,5.000694e+06,50.000000,10.000000,6.000000,12.000000,0.000000
75%,189000.250000,7.477502e+06,65.000000,15.000000,9.000000,13.000000,0.000000
max,252000.000000,9.999938e+06,79.000000,20.000000,14.000000,14.000000,1.000000

In [ ]:
df.isna().sum()

Id                   0
Income               0
Age                  0
Experience           0
Married/Single       0
House_Ownership      0
Car_Ownership        0
Profession           0
CITY                 0
STATE                0
CURRENT_JOB_YRS      0
CURRENT_HOUSE_YRS    0
Risk_Flag            0
dtype: int64

In [ ]:
df.dtypes

Id                    int64
Income                int64
Age                   int64
Experience            int64
Married/Single       object
House_Ownership      object
Car_Ownership        object
Profession           object
CITY                 object
STATE                object
CURRENT_JOB_YRS       int64
CURRENT_HOUSE_YRS     int64
Risk_Flag             int64
dtype: object

In [ ]:
df.sample(5)

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
62322,62323,3350415,29,9,single,rented,no,Librarian,Vasai-Virar,Maharashtra,6,12,0
207792,207793,8396271,24,14,married,rented,yes,Air traffic controller,Latur,Maharashtra,14,13,0
106193,106194,6584784,64,1,single,rented,no,Aviator,Ichalkaranji,Maharashtra,1,13,0
164603,164604,4631897,73,4,married,rented,yes,Secretary,Raiganj,West Bengal,4,14,0
43086,43087,7653359,57,18,single,rented,no,Petroleum Engineer,Bellary,Karnataka,14,10,0

In [ ]:
num_cols = df.select_dtypes(include=['int64','float64']).columns.tolist()
# num_cols = app.columns.tolist()
num_cols

['Id',
 'Income',
 'Age',
 'Experience',
 'CURRENT_JOB_YRS',
 'CURRENT_HOUSE_YRS',
 'Risk_Flag']

In [ ]:
# Fix cat_cols completely
cat_cols = [col for col in df.select_dtypes(include=['object']).columns if col in df.columns]
cat_cols

['Married/Single',
 'House_Ownership',
 'Car_Ownership',
 'Profession',
 'CITY',
 'STATE']

In [ ]:
# 4.3 Columns Needing Imputation
num_impute = [col for col in num_cols if col in df.columns and df[col].isnull().sum() > 0]
num_impute
cat_impute = [col for col in cat_cols if col in df.columns and df[col].isnull().sum() > 0]
cat_impute

[]

In [ ]:
selected_features = [
    'Income',
    'Age',
    'Experience',
    'Married/Single',
    'House_Ownership',
    'Car_Ownership',
    'Profession',
    'STATE',
    'CURRENT_JOB_YRS',
    'CURRENT_HOUSE_YRS',
    'Risk_Flag'
]

In [ ]:
df = df[selected_features]

In [ ]:
(df.duplicated().sum()/df.shape[0])*100

np.float64(82.86111111111111)

In [ ]:
df.duplicated()[df.duplicated()]

5366      True
5367      True
5368      True
5370      True
5371      True
          ...
215992    True
215993    True
215994    True
215995    True
215996    True
Length: 208810, dtype: bool

In [ ]:
df.iloc[[5366]]

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
5366,7574516,40,10,single,rented,no,Software Developer,Maharashtra,9,13,0

In [ ]:
df.iloc[[5367]]

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
5367,3991815,66,4,married,rented,no,Technical writer,Kerala,4,10,0

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

(43190, 11)

In [ ]:
df.sample(5)

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
219988,3047268,21,7,single,rented,no,Civil servant,Uttar Pradesh,5,12,0
11527,2018913,68,7,single,rented,yes,Web designer,Madhya Pradesh,7,13,0
229203,3315291,67,12,single,rented,no,Financial Analyst,Odisha,4,12,1
250078,7828615,39,9,single,rented,no,Official,Madhya Pradesh,4,13,0
220921,6285185,59,4,single,rented,yes,Official,Uttar Pradesh,4,10,1

In [ ]:
cat_features = [col for col in df.columns if df[col].dtypes=="O"]
num_features = [col for col in df.columns if df[col].dtypes!="O"]

In [ ]:
df[cat_features]

,Married/Single,House_Ownership,Car_Ownership,Profession,STATE
0,single,rented,no,Mechanical engineer,Madhya Pradesh
1,single,rented,no,Software Developer,Maharashtra
2,married,rented,no,Technical writer,Kerala
3,single,rented,yes,Software Developer,Odisha
4,single,rented,no,Civil servant,Tamil Nadu
...,...,...,...,...,...
251995,single,rented,no,Surgeon,West Bengal
251996,single,rented,no,Army officer,Madhya Pradesh
251997,single,rented,no,Design Engineer,Maharashtra
251998,single,rented,no,Graphic Designer,Puducherry
251999,single,rented,no,Statistician,Tamil Nadu

In [ ]:
df[num_features]

,Income,Age,Experience,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1303834,23,3,3,13,0
1,7574516,40,10,9,13,0
2,3991815,66,4,4,10,0
3,6256451,41,2,2,12,1
4,5768871,47,11,3,14,1
...,...,...,...,...,...,...
251995,8154883,43,13,6,11,0
251996,2843572,26,10,6,11,0
251997,4522448,46,7,7,12,0
251998,6507128,45,0,0,10,0
251999,9070230,70,17,7,11,0

In [ ]:
for col in cat_features:
    val_count = df[col].nunique()
    print(f"{col}\n")
    print(val_count)

Married/Single

2
House_Ownership

3
Car_Ownership

2
Profession

51
STATE

28

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.drop(columns='Risk_Flag'),
                                                   df['Risk_Flag'],
                                                   test_size=0.25,
                                                   random_state=42)

In [ ]:
print("Train shape:", X_train.shape, "Test shape:", X_test.shape)

Train shape: (32392, 10) Test shape: (10798, 10)

In [ ]:
cat_features = [col for col in X_train.columns if df[col].dtypes=="O"]
num_features = [col for col in X_train.columns if df[col].dtypes!="O"]

In [ ]:
num_features, cat_features

(['Income', 'Age', 'Experience', 'CURRENT_JOB_YRS', 'CURRENT_HOUSE_YRS'],
 ['Married/Single', 'House_Ownership', 'Car_Ownership', 'Profession', 'STATE'])

In [ ]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [ ]:
transformer = ColumnTransformer(
    transformers = [
        ("ohe", OneHotEncoder(drop='first'), cat_features),
        ("num", StandardScaler(), num_features),
    ], remainder = 'passthrough'
)

In [ ]:
pipeline = Pipeline(
    steps = [
        ("transformers", transformer),
        ("classifier", RandomForestClassifier(random_state=42))
    ]
)

In [ ]:
pipeline.fit(X_train, y_train)

Pipeline(steps=[('transformers',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe',
                                                  OneHotEncoder(drop='first'),
                                                  ['Married/Single',
                                                   'House_Ownership',
                                                   'Car_Ownership',
                                                   'Profession', 'STATE']),
                                                 ('num', StandardScaler(),
                                                  ['Income', 'Age',
                                                   'Experience',
                                                   'CURRENT_JOB_YRS',
                                                   'CURRENT_HOUSE_YRS'])])),
                ('classifier', RandomForestClassifier(random_state=42))])

In [ ]:
y_pred = pipeline.predict(X_test)

In [ ]:
import joblib

joblib.dump(pipeline, "lgbm_final.pkl", compress=3)

['lgbm_final.pkl']

In [ ]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [ ]:
print(f"Accuracy: {accuracy_score(y_pred, y_test)}")
print(classification_report(y_pred, y_test))

Accuracy: 0.7860714947212447
              precision    recall  f1-score   support

           0       0.97      0.80      0.88     10552
           1       0.00      0.00      0.00       246

    accuracy                           0.79     10798
   macro avg       0.49      0.40      0.44     10798
weighted avg       0.95      0.79      0.86     10798

# Model Testing

In [ ]:
X_test.sample(5)

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS
248411,6872333,34,2,single,rented,yes,Chemical engineer,Assam,2,13
239549,2101551,59,9,single,rented,no,Web designer,Tamil Nadu,9,13
244020,8440222,75,3,single,rented,no,Police officer,West Bengal,3,10
238814,2041610,32,10,single,rented,no,Hotel Manager,Odisha,6,10
7408,4816071,63,17,single,rented,no,Mechanical engineer,Andhra Pradesh,13,14

In [ ]:
input_data = X_test.loc[[218372]]
actual_pred = y_test.loc[218372]
actual_pred

np.int64(0)

In [ ]:
prediction = pipeline.predict(input_data)[0]
print(f"Prediction: {prediction}")
print(f"Actual: {actual_pred}")

Prediction: 0
Actual: 0

### create a method to predict the loan approval

In [ ]:
X_test.sample(10)

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS
226057,9378946,53,7,single,rented,yes,Economist,Tripura,6,12
236829,1079099,31,2,single,rented,no,Surgeon,West Bengal,2,14
246751,7705925,59,12,single,rented,no,Engineer,Madhya Pradesh,12,14
234705,317785,71,4,single,rented,yes,Geologist,Andhra Pradesh,4,11
244083,3293776,79,1,single,owned,no,Technician,West Bengal,1,10
222187,48182,77,7,single,rented,no,Artist,Uttar Pradesh,4,12
248579,1235475,32,11,single,rented,yes,Surveyor,Telangana,11,13
240007,3989072,57,5,single,rented,no,Technology specialist,Andhra Pradesh,5,12
4679,7806795,68,20,single,rented,yes,Technology specialist,Madhya Pradesh,9,10
241268,6250205,29,17,single,rented,yes,Flight attendant,Tripura,13,14

In [ ]:
def laon_prediction(model, index):
    input_data = X_test.loc[[index]]
    actual = y_test.loc[index]
    prediction = model.predict(input_data)
    actual = f"Prediction: {prediction[0]}"
    prediction = f"Actual: {actual_pred}"
    return actual, prediction


result = laon_prediction(model=pipeline, index=246031)
print(result)

('Prediction: 0', 'Actual: 0')